body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background: #ccc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #0cebeb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 300px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div.main-container{
  margin:0px auto;
  float: none;
}
.src-code{
  width:100%;
  background:#f1f1f1;
  margin-bottom: 40px;
  font-size: 20px;
  padding: 20px;
}
section{
  float: left;
  text-align: left;
}
h1.section-title{
  font-size: 30px!important;
  border-bottom: solid;
}
.centered{
  margin:0px auto!important;
  float: none!important;
  margin-bottom: 40px!important;
}
.no-padding{
  padding: 0px;
}